<!DOCTYPE html>
<html xmlns:ui="myui">
	<head>
		<script src="lib/ample-0.9.4/ample/runtime.js"></script>
		<style>
		.mycombo {
			background-color: pink;
		}
		</style>
		<script>
		(function() {
			function cUIElement(sName) {
				this.localName	= sName;
			};
			
			cUIElement.prototype	= new ample.classes.Element;
			cUIElement.prototype.namespaceURI	= "myui";
			
			/* ui:combobox */
			function cUICombobox() {
				
			}
			cUICombobox.prototype	= new cUIElement("combobox");
			
			cUICombobox.prototype.$getTagOpen	= function() {
				return '<div class="ui-combobox' + (this.hasAttribute("class") ? ' ' + this.getAttribute("class") : '') + '">\
        					<input class="ui-combobox--input"/>\
        					<div style="position:relative; border-color: inherit; border-style: inherit; border-width: 0px;">\
        						<div class="ui-combobox--dropdown" style="display:none">';
			};
			cUICombobox.prototype.$getTagClose	= function() {
				return '		</div>\
							</div>\
	        			</div>';
			};
			
			ample.extend(cUICombobox);
			
			/* ui:comboitem */
			function cUIComboitem() {
				
			}
			cUIComboitem.prototype	= new cUIElement("comboitem");
			
			cUIComboitem.prototype.$getTagOpen	= function() {
				return '<div class="ui-comboitem' + (this.hasAttribute("class") ? ' ' + this.getAttribute("class") : '') + '">';
			};
			cUIComboitem.prototype.$getTagClose	= function() {
				return '</div>';
			};
			
			ample.extend(cUIComboitem);
			
			/* ui:container */
			function cUIContainer() {
				
			}
			cUIContainer.prototype	= new cUIElement("container");
			
			cUIContainer.prototype.$getTagOpen	= function() {
				return '<div class="ui-container' + (this.hasAttribute("class") ? ' ' + this.getAttribute("class") : '') + '">';
			};
			cUIContainer.prototype.$getTagClose	= function() {
				return '</div>';
			};
			
			ample.extend(cUIContainer);
			
			// Profile
			var d = new Date;
			ample.ready(function() {
				console.log("Rendering time: " + (new Date - d) + "ms.");
			})
		})();
		</script>
	</head>
	<body>
		<script>ample.open()</script>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<script>ample.close()</script>
	</body>
</html>