<!DOCTYPE html>
<html ng-app="module-app" xmlns:ui="myui">
	<head>
		<script src="lib/angular-1.0.6/angular.js"></script>
		<script src="scripts/ui.js"></script>
		<script src="scripts/ui/container.js"></script>
		<script src="scripts/ui/combobox.js"></script>
		<script src="scripts/ui/comboitem.js"></script>
		<script src="scripts/app.js"></script>
		<style>
		.mycombo {
			background-color: pink;
		}
		</style>
	</head>
	<body>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox class="mycombo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<!--  -->
	</body>
</html>