<!DOCTYPE html>
<html ng-app="module-app" xmlns:ui="myui">
	<head>
		<script src="lib/angular-1.0.6/angular.js"></script>
		<script src="scripts/ui.js"></script>
		<script src="scripts/ui/combobox.js"></script>
		<script src="scripts/ui/comboitem.js"></script>
		<script src="scripts/ui/container.js"></script>
		<script src="scripts/app.js"></script>
		<script src="scripts/test/test-controller.js"></script>
		<style>
		.ui-combobox {
			display: inline-block;
			border: solid 2px blue;
			border-radius: 3px;
		}
		.ui-combobox[disabled] {
			border-color: gray;
			background-color: #eee;
		}
		.ui-combobox--input {
			background-color: transparent;
			border: none;
		}
		
		.ui-combobox--dropdown {
			position: absolute;
			background-color: white;
			border-style: inherit;
			border-color: inherit;
			border-width: 2px;
			border-radius: 0px 0px 3px 3px;
			border-top: none;
			width:100%;
			margin-left: -2px;
			margin-top: -1px;
		}
		.ui-comboitem {
			cursor: default;
		}
		.ui-comboitem:hover {
			background-color: lightblue;
		}
		</style>
		<style>
		.mycombo {
			border-color: brown;
		}
		.ui-combobox {
			margin: 1px;
		}
		</style>
	</head>
	<body ng-controller="testController">
		<ui:container>
			<ui:combobox ng-model="first" class="mycombo">
				<ui:comboitem value="{{option[0]}}" ng-repeat="option in options">{{option[1]}}</ui:comboitem>
			</ui:combobox>
			
			<label><input type="checkbox" ng-model="includeDutch" ng-change="change()"/> Include Dutch?</label>
		</ui:container>
		
		
		<ui:container>
			<ui:combobox>
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
				<ui:comboitem value="nl">Dutch</ui:comboitem>
			</ui:combobox>
		</ui:container>
		<ui:container>
			<ui:combobox ng-model="third" disabled="disabled" id="test_combo">
				<ui:comboitem value="en">English</ui:comboitem>
				<ui:comboitem value="ru">Russian</ui:comboitem>
				<ui:comboitem value="nl">Dutch</ui:comboitem>
			</ui:combobox>
		</ui:container>
	</body>
</html>